{% extends "layout.html" %}

{% block content %}

    {% if session.userid is defined %}

        <div style="text-align: center">
            <h1><a href="/articles">ARTICLES</a></h1>
            <h1><a href="/users">FRIENDS AND OTHER USERS</a></h1>
        </div>

    {% else %}

        <div>
            <div>
                <p><a href="/users/login">Log in</a> |
                <a href="/users/register">Register</a></p>
            </div>

            <div style="text-align: center">
                <h1><a href="/articles">ARTICLES</a></h1>
            </div>
        </div>

    {% endif %}

{% endblock %}