{% extends "layout.html" %}

{% block content %}

<p><a href="/articles">Back</a></p>

{% if session.userid is defined %}
    <form method="post" action="/">
        <button type="submit" class="button_box">Log out</button>
    </form>

    <form method="post" action="/articles">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="input_box" value="{{ inputs.title }}"/>
            {% if errors.title %}
                <p class="small_error">{{ errors.title[0] }}</p>
            {% endif %}
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="input_box">{{ inputs.description }}</textarea>
            {% if errors.description %}
                <p class="small_error">{{ errors.description[0] }}</p>
            {% endif %}
        </div>
        <div>
            <button type="submit" class="button_box">Create</button>
        </div>

    </form>
{% else %}
    <p>
        <a href="/users/login">Log in</a>
    </p>
{% endif %}

{% endblock %}
