<a href="/articles">Back</a>

{% if session.userid is defined %}
    <form method="post" action="/">
        <button type="submit">Log out</button>
    </form>

    <form method="post" action="/articles/{{ article.id }}">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ article.title }}"/>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea type="text" id="description" name="description">{{ article.description }}</textarea>
        </div>
        <div>
            <button type="submit">Edit</button>
        </div>

    </form>

{% endif %}