{% extends "layout.html" %}

{% block content %}
<div>
    <p><a href="/articles/{{ article.id }}">Back</a></p>
</div>

{% if session.userid is defined %}

    <form method="post" action="/articles/{{ article.id }}">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ article.title }}" class="input_box"/>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea type="text" id="description" name="description" class="input_box">{{ article.description }}</textarea>
        </div>
        <div>
            <button type="submit" class="button_box">Submit changes</button>
        </div>

    </form>

{% endif %}

{% endblock %}