{% apply inline_css(source("formatting.css")) %}

<p><a href="/">Back</a></p>

{% if session.userid is defined %}
    <form method="post" action="/">
        <button type="submit" class="button_box">Log out</button>
    </form>
{% endif %}


<h1>All articles</h1>

{% if session.userid is defined %}
    <p><a href="/articles/create">Create</a></p>
{% endif %}


{% for article in articles %}
    {% for author in authors %}
        {% if article.userId == author.id %}
        <ul>
            <li>
                <div class="one_line" style="display: inline">
                    <p>
                        <a href="articles/{{ article.id }}">{{ article.title }}</a>
                    </p>
                    <p class="written_by">
                        Written by <a href="/users/{{ article.userId }}">{{ author.name }} {{ author.surname }}</a>
                    </p>
                </div>

                {% if session.userid is defined and session.userid == author.id %}
                    <form method="post" action="/articles/{{ article.id }}/delete">
                        <button type="submit" class="button_box" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                    </form>
                {% endif %}

            </li>
        </ul>
        {% endif %}
    {% endfor %}
{% endfor %}


{% endapply %}