{% apply inline_css(source("formatting.css")) %}

<p><a href="/articles">Back</a></p>

{% if session.userid is defined %}
    <form method="post" action="/">
        <button type="submit" class="button_box">Log out</button>
    </form>
{% endif %}

<h1>{{ article.title }}</h1>

<p class="written_by">Written by {{ author.name }} {{ author.surname}}</p>

{% if session.userid is defined and session.userid == author.id %}
    <p><a href="/articles/{{ article.id }}/edit">Edit</a></p>
{% endif %}

<p>{{ article.description }}</p>
<p class="small_date">Article created: {{ article.createdAt|date('d-m-Y') }}</p>

{% endapply %}