{% extends "layout.html" %}

{% block content %}

{% if session.userid is defined %}
    <div>
        <p>
            <a href="/">Back</a> |
            <a href="/articles">Articles</a>
        </p>
    </div>

    <div>
        <h1>USERS AND FRIENDS</h1>
        {% for user in users %}
            {% if session.userid != user.id %}
                <div class="user_box">
                    <p>
                        {{ user.email }} |
                        <a href="/users/{{ user.id }}">View profile</a>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% else %}
    <div>
        <p>
            <a href="/users/register">Register</a> |
            <a href="/users/login">Log in</a>
        </p>
    </div>
{% endif %}

{% endblock %}


