<a href="/users">Back</a>

<form method="post" action="/users">

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"/>
    </div>
    <div>
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"/>
    </div>


    <div>
        <button type="submit">Register</button>
    </div>

</form>